.navigation {
    border-bottom: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    
}


.link:not(:last-child) {
    margin-right: 15px;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.active,
.link:hover {
    color: #01579b;
}